.venv/
__pycache__/
*.pyc
db.sqlite3
.env
*.env
!.env.example  # EXCEPT the example file
.vscode/
*.code-workspace
media/
todo.txt
sketchmod/tests/codegen/examples/*.py
sketchmod/tests/codegen/examples/data
