<!DOCTYPE html>
<html lang="en"
      data-theme="{% if user.is_authenticated %}{{ user.settings.theme }}{% endif %}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                SketchMod
            {% endblock title %}
        </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/themes.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="icon"
              type="image/svg+xml"
              href="{% static 'images/logo_white.svg' %}"
              media="(prefers-color-scheme: dark)">
        <link rel="icon"
              type="image/svg+xml"
              href="{% static 'images/logo.svg' %}"
              media="(prefers-color-scheme: light)">
        {% block extra_css %}
        {% endblock extra_css %}
    </head>
    <body data-current-page="{% block current_page %}{% endblock current_page %}">
        {% include "includes/navbar.html" %}
        <main class="main-content">
            {% block content %}
            {% endblock content %}
        </main>
        <script src="{% static 'js/theme.js' %}"></script>
        <script src="{% static 'js/navbar.js' %}"></script>
        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
